<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Годовой план-график</title>
</head>
<body>
    <div id="wrap">
        <div id="menu">
            <a href="edit" class="menu-item">Редактировать</a>
            <a href="newplan" class="menu-item">Создать новый план-график</a>
        </div>
        <div id="content">
            <table border=2 cellpadding=10>
                <tr>
                    <td>Группа</td>
                    {% for n in range(1,54) %}
                        <td>week {{n}}</td>
                    {% endfor %}
                </tr>
                {% for key, value in data.items() %}
                <tr>
                    <td>{{ key }}</td>
                    {% for text in data[key] %}
                        <td>{{ text }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>